<!DOCTYPE html>
<html>

<head>
  <meta charset=" utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>URL - TinyApp Example</title>
</head>

<body>
  <% include ./partials/_header.ejs %>
  <div style="margin-left: 10%;">

    <form method="POST" action="/login">
      <h1>Login</h1>
      <p>Enter your username and password to login.</p>

      <hr>

      <input type="email" placeholder="Enter Email" name="email" required>

      <input type="password" placeholder="Enter Password" name="password" required>

  </div>

  <button type="submit" style="margin-left: 10%; margin-top: 1em;">Login</button>

  </form>



</body>